/* NavBar */

.title {
  margin-right: auto;
  display: flex;
  align-items: center;
  color: var(--ghost-white);
  font-weight: 900;
  font-size: large;
}

.navbar {
  grid-column-start: 1 ;
  grid-column-end: span 2;
  height: var(--nav-size);
  background-color: var(--denim);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.navbar-nav{
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--carolina-blue);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;

  svg {
    fill: var(--ghost-white); 
    width: 20px;
    height: 20px;
  }

  &:hover {
    filter: brightness(1.2);
  }
}
