:root {
  --denim: #1C60C3;
  --tufts-blue: #398DDB;
  --carolina-blue: #409DD8;
  --ghost-white: #F4F4F9;
  --nav-size: 60px;
  --border-radius: 8px;
  --border: 1px solid #419ff6;
  --speed: 500ms;
}

