@import "variables";
@import "globals";

.App {
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 10vh 90vh;
    background-color: var(--ghost-white);
}

.grid-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: span 2;
}

.ship-panel {
    grid-column-start: 1;
    grid-row-start: 2;
}
